h1{
    text-align: center;
}
body{
    background-color: #1f2937;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;    
}
.mainImg{
    width: 700px;
    height: 500px;
}
.rotate-90{
    transform: rotate(-90deg);
    width: 500px;
    height: 700px;
    /* border: 2px solid red; */
    margin-top: -100px;
    margin-bottom: -100px;
}
.headingcontainer {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between; /* Aligns items to the ends of the container */
    gap: 20px;
}

.logocontainer {
    display: flex;
    align-items: center; /* Vertically center the logo if needed */
}

.logo {
    /* border: 2px solid purple; */
    height: 150px;
    width: 150px;
    margin-left: 10%;
}

.headingscontainer {
    display: flex;
    align-items: right; /* If you want to align them to the right inside this container */
    gap: 20px; /* Provides space between headings */
}

.headerContainer{
    background-color: #1f2937;
    display:flex;
    flex-flow:column wrap;
    /* border: 2px solid red; */

}
#mainText{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    flex: 1;
    /* border: 2px solid blueviolet; */
    width: 25%;
    margin-left: 10%;
 
    
}
#secondaryText{
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    /* border: 2px solid blue; */
    width: 25%;
    margin-left: 10%;
}
#headerImage{
    /* border: 2px solid yellow; */
    margin-left: 70%;
    margin-top: -24%;
    width: 300px;
}
button{
    background-color: #3882f6;
    color: white;
    width: 25%;
    margin-left: 38%;
    
    
}
.container{
    
    background-color: white;
    /* border: 2px solid yellow; */
    display: flex;
    max-width: 100%;
    flex: 1;
    /* flex-direction: column; */
    
}
h2{
    background-color: white;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    /* border: 2px solid red; */
    align-self: center;
}
h2 , .container{
    margin:0;
}
.item{
    border: 2px solid blue;
    border-radius: 10px;
    width: 200px;
}
.vert{
    height: auto;
    width: 25%;
    border: 2px solid yellow;
    align-self: flex-start;
}
.list{
    color: black;
    align-self: flex-start;
    /* border: 2px solid red; */
    flex: auto;

}