h1{
    text-align: center;
}
body{
    background-color: rgb(250, 222, 185);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;    
}
.mainImg{
    width: 700px;
    height: 500px;
}
.rotate-90{
    transform: rotate(-90deg);
    width: 500px;
    height: 700px;
    /* border: 2px solid red; */
    margin-top: -100px;
    margin-bottom: -100px;
}
.container{ 
    border: 2px solid red;
    display: flex;
}
.item{
    padding:50px; 
    grid-row: auto; 
    text-align: center;
    flex: 1;
    /* border: 2px solid blue;*/
}
.logo{
    
    border: 2px solid purple;


}
.headinginlogo{
    border: 2px solid turquoise;
}
.soapbox{
    border: 2px solid seashell;
}